body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color:white;
  font-size: 1.2em;
}

h1 {
  color: darkgray;
}

/* Hide all but first tab */
.tabContent > div:not(:first-child) {
  display: none;
}

.tabContainer > .tabBar {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.tabBar li {
  float: left;
  display: flex;
  flex: 1;
}

.tabBar div {
  position: relative;
  background: #222;
  border-top: 3px solid rgba(0,0,0,0);
  padding: 1em .5em;
  float: left;
  text-decoration: none;
  color: #888;
  margin: 0 .1em 0 0;
  flex: 1;
  transition: all .35s ease;
  cursor: pointer;
}

.tabBar div.active {
  border-top: 3px solid #347937;
  color: #fff;
  background: inherit;
}

.tabBar div:hover {
  background: inherit;
  color: #fff;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (orientation: landscape) {
  .buttonBox {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .buttonBox {
    flex-direction: column;
  }
}

.button {
  background-color: #347937;
  border-radius: 3px;
  border-color: #4CAF50;
  border-width: 2.5px;
  border-style: solid;
  margin: 10px;
  height: 200px;
  display: flex;
  flex-grow: 100;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.stop {
  background-color: maroon;
  border-color: rgb(167, 0, 0);
  color: white;
}

.camButton {
  height: 100px;
}

#cam-device-list {
  background-color: #111111;
  padding: 5px;
  list-style-type: none;
}

.cam-device-item {
  height: 50px;
  justify-content: center;
  cursor: pointer;
}

#cam-refresh {
  flex-grow: 3;
  min-width: 100px;
}

#cam-conn-buttons {
  flex-direction: row;
}

.settings-form {
  display: table;
  width: 100%;
}

.settings {
  display: table-row;
}

.settings label,
.settings input {
  margin-top: 5px;
  margin-bottom: 5px;
  display: table-cell;
  text-align: center;
  width: 50%;
  height: 60%
}

.settings input {
  width: 100%;
  font-size: 1em;
}

.slidecontainer {
  width: 100%;
}

.slider {
  --handle-size: 200px;
  -webkit-appearance: none;
  width: 100%;
  height: var(--handle-size);
  background: #333333;
  outline: none;
  opacity: 0.75;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 4px;
}

.slider:hover {
  opacity: 1;
}

.slider .slideHandle {
  width: calc(var(--handle-size) - 5px);
  height: calc(var(--handle-size) - 5px);
  background: #347937;
  border-radius: 3px;
  border-color: #4CAF50;
  border-width: 2.5px;
  border-style: solid;
  cursor: pointer;
  position:relative;
}